<!DOCTYPE html>
<html>

<head>
    <title>
        About
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        About
    </h1>
    <ul>
        <li>
            <h3>Description</h3>
            <p>This is an demo Express App that interact with MongoDB</p>
        </li>
        <li>
            <h3>Author Info</h3>
            <p>
                Steve Wang: <a href="https://github.com/Yell0wF1sh">https://github.com/Yell0wF1sh</a>
            </p>
            <p>
                Qiuyang Wang: <a href="https://github.com/Billy-FIN">https://github.com/Billy-FIN</a>
            </p>
        </li>
    </ul>
</body>

</html>