<h1>code Generator</h1>

<hr>
Here is the code:
<pre style="border:thin solid black"><%= answer %></pre>
<hr>
<div>
    <a class="navButton" href="/codeGenerator">Generate Another code</a>
</div>
<br>
<div>
    <a class="navButton" href="/">Back To Home</a>
</div>