<!DOCTYPE html>
<html>

<head>
    <title>
        GPT Example
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        GPT Answer
    </h1>
    <p>Here's your question:</p>
    <p>
        <%= question %>
    </p>
    <p>Here's the answer:</p>
    <p>
        <%= answer %>
    </p>
    <p>Ask another question!</p>
    <form method="post" action="/gpt/prompt">
        <input type="text" autocomplete="prompt" name="prompt"><br>
        <input type="submit">
    </form>
</body>

</html>