<!DOCTYPE html>
<html>

<head>
    <title>
        GPT Example
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        GPT Template
    </h1>
    <p>Enter your question here!</p>
    <form method="post" action="/gpt/prompt">
        <input type="text" autocomplete="prompt" name="prompt"><br>
        <input type="submit">
    </form>
</body>

</html>