<!DOCTYPE html>
<html>
<% title="COSI103a CA02" %>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <a>Steven Wang: </a>
    <a href="/gpt/paraphraser">
      Paraphraser
    </a>
    <br>
    <a>Qiuyang Wang: </a>
    <a href="/poetry">
      Poetry Generator
    </a>
    <br>
    <a>Shentong Rao: </a>
    <a href="/codeGenerator">
      Code generator
    </a>
  </body>

</html>