<h1>Poetry Generator</h1>

<hr>
Here is the poem:
<pre style="border:thin solid black"><%= answer %></pre>
<hr>
<div>
    <a class="navButton" href="/poetry">Generate Another Poem</a>
</div>
<br>
<div>
    <a class="navButton" href="/">Back To Home</a>
</div>