<!DOCTYPE html>
<html>

<head>
    <title>
        Login
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="login">
        <h2>Login</h2>
        <form method="post" action="/login" class="login_signup_form">
            username: <br><input type="text" autocomplete="username" name="username"><br>
            passphrase: <br><input type="password" autocomplete="passphrase" name="passphrase"><br>
            <input type="submit" style="background-color: black; color: white;">
        </form>
        <div style="text-align:center;font-size: 20px;">
            OR
        </div>
        <div>
            <a class="navButton" href="/signup">Sign Up</a>
        </div>
        <div>
            <a class="navButton" href="/">Back To Home</a>
        </div>
</body>

</html>