body {
  padding: 20px 40px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login>* {
  text-align: center;
  margin: 30px 0;
}

.login_signup_form {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  padding: 25px;
  width: 15%;
  margin: 0 auto;
}

.login_signup_form>* {
  width: 50%;
  margin: 10px 0;
  height: 40px;
  text-align: center;
}

.navButton {
  background-color: white;
  border: none;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}

.navButton:hover {
  background-color: grey;
}

table,
th,
td {
  border: 1px solid;
  padding: 5px 10px;
}

table {
  margin-bottom: 5px;
  width: 100%;
}

table.transactionOptionTable {
  text-align: center;
  height: 50px;
}

.transactionButton {
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: 10px 15px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

